body {
  margin: 0;
}

html,
body {
  font-family: $primary-font;
}

code {
  padding: 0.25em;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: lightgray;
  border: 1px solid gray;
  color: gray;
}

div,
button,
span {
  &:focus {
    outline: 0;
  }
}

.link {
  color: $primary;
  text-decoration: none;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.625rem;
  font-size: calc(10px + 2vmin);

  .grid {
    width: 100%;
    height: 100%;
    padding-top: 1em;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:focus {
      outline: none;
    }
  }

  &:focus {
    outline: none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $light-gray;
  transition: 0.25s all ease-in-out;

  &:focus {
    outline: none;
  }

  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.25s all ease-in-out;
  }
}

input:checked + .slider {
  background-color: $darker-gray;
}

input:focus + .slider {
  box-shadow: 0 0 1px $darker-gray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;

  &:focus {
    outline: none;
  }
}

.slider.round:before {
  border-radius: 50%;
}

.back-button-container {
  .back-button {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: $secondary;
    font-size: 18px;
    font-weight: 700;
    transition: 0.05s all ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: 0.05s all ease-in-out;
    }
  }
}
