// Fonts
$primary-font: "Source Sans Pro", sans-serif;

// Colors
$black: #39393a;
$white: #fcfcfc;

$medium-gray: #7d7c7a;
$darker-gray: #454443;

$light-background: #eeeeee;
$light-menu-background: darken($light-background, 5%);
$dark-background: darken($medium-gray, 10%);
$dark-menu-background: #454443;

$light-gray: lighten($medium-gray, 40%);
$faint-gray: rgba(255, 255, 255, 0.25);

$primary: #bee3db;
$dark-primary: #89b0ae;

$secondary: #efa48b;
$dark-secondary: darken($secondary, 5%);

// Breakpoints
$tablet: medium;
$desktop: large;
