// Fonts
$primary-font: "Source Sans Pro", sans-serif;

// Colors
$black: #000000;
$white: #ffffff;

$dark-gray: #484a47;
$darker-gray: darken($dark-gray, 5%);

$medium-gray: #7d7c7a;

$light-gray: lighten($medium-gray, 40%);
$faint-gray: rgba(255, 255, 255, 0.25);

$primary: #bee3db;
$dark-primary: #89b0ae;

$secondary: #efa48b;
$dark-secondary: darken($secondary, 5%);

// Breakpoints
$tablet: medium;
$desktop: large;
