.settings-list-container {
  .settings-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      border-bottom: 1px solid $faint-gray;

      .settings-list-item {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
